<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

<nav class="flex gap-2">

  <a href="https://drive.google.com/file/d/1O2dumZ1t_dPyq2O011GpKZRZFtJG6n6k/view?usp=sharing" aria-label="CV" title="CV" target="_blank">
    <i class="fas fa-file fa-lg"></i>
  </a>

  <a href="mailto:r.m.popescu@tudelft.nl" aria-label="Email", title="Email">
    <i class="fas fa-envelope fa-lg"></i>
  </a>

  <a href="https://www.linkedin.com/in/razvan-mihai-popescu-b71104211/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn", title="LinkedIn">
    <i class="fab fa-linkedin fa-lg"></i>
  </a>

  <a href="https://x.com/razvanmp27" target="_blank" rel="noopener noreferrer" aria-label="X", title="X">
    <i class="fab fa-x-twitter fa-lg"></i>
  </a>

  <a href="https://scholar.google.com/citations?user=NOQ6ZAkAAAAJ&hl=ro" target="_blank" rel="noopener noreferrer" aria-label="Google Scholar", title="Google Scholar">
    <i class="fab fa-google-scholar fa-lg"></i>
  </a>

<a href="https://orcid.org/0009-0003-6251-770X" target="_blank" rel="noopener noreferrer" aria-label="ORCiD", title="ORCiD">
    <i class="fab fa-orcid fa-lg"></i>
  </a>

  <a href="https://github.com/Razvain" target="_blank" rel="noopener noreferrer" aria-label="GitHub", title="GitHub">
    <i class="fab fa-github fa-lg"></i>
  </a>


</nav>
